.App {
  background-image: linear-gradient(to left top, #09203f, #1b3454, #2d4a69, #3f607f, #537895);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
    /* color: whitesmoke;   */
}

